/* Additional CSS to ensure animation works */
@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.fa-heart.fa-beat {
    animation: heartbeat 1s infinite alternate;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#message-container {
    background-color: plum;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.455);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: height 1.5s ease;
}

#message {
    width: 90%;
    height: 90%;
    padding: 15px;
}

#music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}
